* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*overflow-wrap: anywhere;*/

}

:root {
  --header-font: "Permanent Marker";
  --font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  background-color: rgb(255, 255, 255);
  /*8, 8, 8*/

}


header {
  grid-area: header;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
  position: relative;


}

.header-btn {
  flex-shrink: 0;
  font-size: clamp(10px, 7.0vw, 20px);
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  width: clamp(10px, 20vw, 45px);
  height: clamp(10px, 20vw, 45px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.75) inset;
}



main {
  grid-area: main;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.author-container {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
}

.author-image {
  width: clamp(10px, 20vw, 40px);
  height: clamp(10px, 20vw, 40px);
  border-radius: 50%;
  object-fit: cover;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.post-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-information {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2px;
}

.post-date {
  font-size: clamp(10px, 3.0vw, 16px);
  color: rgba(0, 0, 0, 0.534);
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 10px;


}



#post-text {
  resize: none;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  font-size: clamp(10px, 3.0vw, 16px);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  background-color: rgb(236, 236, 236);

}

#post-text:focus {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  outline: 1px solid rgb(0, 0, 0);

}

#post-btn {
  opacity: 0;
  max-height: 0;
  transform: translateY(10px);
  padding: 0px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: clamp(10px, 3.0vw, 16px);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  width: 100%;
  transition: opacity .25s ease, transform .25s ease;
}

.post-btn-wrapper.show #post-btn {
  max-height: 100%;
  opacity: 1;
  transform: translateY(0);
  padding: 10px;
}

.post-btn-wrapper.show {
  max-height: 100px;
  transition: transform 0.2s ease;
}

.post-btn-wrapper.show:hover #post-btn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  transform: scale(1.01);
}

.post-btn-wrapper.show:hover {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  transform: scale(1.02);

}

.post-btn-wrapper {
  max-height: 0;
  transform: translateY(5px);
  border-radius: 5px;
  transition: max-height .25s ease;

}

.add-btn {
  opacity: 1;
  font-size: clamp(10px, 5.0vw, 20px);
  background-color: transparent;
  border-radius: 50%;
  border: none;
  width: clamp(10px, 20vw, 40px);
  height: clamp(10px, 20vw, 40px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .25s ease, transform .25s ease;
}

.add-btn:hover {
  background: radial-gradient(ellipse 65% 65% at 50% 50%, rgba(241, 124, 235, 0.295) 0%, transparent 80%);
  transform: scale(1.3);
}

.add-btn.hidden {
  opacity: 0;
  pointer-events: none;
  transform: rotateZ(45deg);
}



.info {
  display: flex;
  flex-direction: column;
  gap:0px;
  font-size: clamp(10px, 3.0vw, 16px);
  color: rgba(0, 0, 0, 0.534);
  transition: opacity .25s ease, transform .25s ease;
  opacity: 1;

}

.undo-btn {
  font-size: clamp(10px, 2.8vw, 16px);
  color: rgba(0, 0, 0, 0.534);
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity .25s ease, transform .25s ease;
}

.undo-btn:hover {
  text-decoration: underline;
}

.info.anim {
  opacity: 1;
}




.post-content {
  padding: 10px 0;
  font-size: clamp(10px, 8.4vw, 18px);
  word-break: break-all;
}

.reactions {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;

}



.interaction-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: clamp(10px, 5.4vw, 18px);
}



.reactions-wrapper {
  font-weight: bold;
}


.author-name {
  font-size: clamp(10px, 8.4vw, 26px);
  font-weight: bold;

}

.right-buttons {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}


.post-interactions {

  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 10px;
  font-weight: bold;

}

.post-interactions::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.interactions-btn {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  font-size: clamp(10px, 3.5vw, 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

}

.interactions-btn:hover {
  transform: scale(1.3);
}

.reaction-btn {
  transition: background 0.2s ease-in-out;
}

.yellow-reaction-btn.liked {
  border-radius: 40%;
  box-shadow: 0px 0px 1px 1px rgb(255, 174, 0) inset,
    0px 0px 1px 1px rgb(255, 174, 0);
}


.yellow-reaction-count.liked {
  color: rgb(255, 174, 0);
}

.heart-btn.liked {
  border-radius: 40%;
  box-shadow: 0px 0px 1px 1px rgb(255, 0, 0) inset,
    0px 0px 1px 1px rgb(255, 0, 0);
}


.heart-count.liked {
  color: rgb(255, 0, 0);
}

.reactions-number {
  font-weight: bold;
}

.reactions-number.liked{
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.reaction-btn:hover {
  background:
    radial-gradient(ellipse 65% 65% at 50% 50%, rgba(255, 196, 0, 0.726) 0%, transparent 80%);
}

.heart-btn:hover {
  background:
    radial-gradient(ellipse 65% 65% at 50% 50%, rgba(255, 0, 0, 0.726) 0%, transparent 80%);
}

.save-btn:hover {
  background:
    radial-gradient(ellipse 65% 65% at 50% 50%, rgba(255, 0, 106, 0.726) 0%, transparent 80%);
}

.saved{
  border-radius: 40%;
  box-shadow: 0px 0px 1px 1px rgb(255, 0, 0) inset,
    0px 0px 1px 1px rgb(255, 0, 0);
  
  background:
    radial-gradient(ellipse 65% 65% at 50% 50%, rgba(255, 100, 165, 0.726) 0%, transparent 100%);
}

.save-btn.saved:hover {
  background:
    radial-gradient(ellipse 65% 65% at 50% 50%, rgba(255, 0, 106, 0.726) 0%, transparent 100%);
}

.comment-btn:hover {
  background:
    radial-gradient(ellipse 65% 65% at 50% 50%, rgba(145, 145, 145, 0.726) 0%, transparent 80%);

}


.post-content-wrpapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.more-comments-btn {
  margin-bottom: 5px;
}


h1 {
  font-size: clamp(10px, 8.4vw, 26px);
}


.logo {

  font-family: var(--header-font);
  color: rgb(255, 255, 255);

}

.posts {

  display: flex;
  flex-direction: column;
  gap: 10px;
}


.comments {
  padding: 0px;
  background-color: rgb(240, 238, 238);
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-10px);

  transition: opacity 0.2s ease, transform 0.5s ease;
}



.comments.active {
  padding: 0px;
  opacity: 1;
  transform: translateY(0);

}

.comments-replies {
  align-items: flex-end;
  padding: 0px;
  gap: 5px;
  display: none;

}

.comments-replies.active {
  display: flex;
}

.comment-container {
  display: flex;
  flex-direction: column;
  gap: 5px;

}



.comment-reply {
  width: 95%;
  background-color: transparent;
}

.comment {

  background-color: rgba(212, 212, 212, 0.521);


  padding: 10px;
  border-radius: 5px;

  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: start;
  gap: 8px;

}

.comment-data{
  flex: 1 1 auto;
}

.comment-author-image {

  width: clamp(8px, 14vw, 40px);
  height: clamp(8px, 14vw, 40px);
  border-radius: 50%;
  object-fit: cover;
}

.comment-content {
  max-width: 100%;

  flex-wrap: wrap;
  font-size: clamp(10px, 4.0vw, 16px);
  word-break: break-all ;
}



.comment-date {
  font-size: clamp(10px, 4vw, 13px);
  color: rgba(0, 0, 0, 0.534);
}

.comment-author-name {
  font-size: clamp(10px, 4.8vw, 20px);
}

.heart-comment-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: clamp(10px, 5.0vw, 15px);
}

.heart-comment-btn:hover {
  transform: scale(1.1);
}

.comment-hearts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 4px;
}

.reactions-number {
  font-size: clamp(10px, 3.0vw, 14px);
  color: rgba(0, 0, 0, 0.534);
}

#comment-text {
  resize: none;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  font-size: clamp(10px, 3.0vw, 14px);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  background-color: rgb(255, 255, 255);


}

#comment-text:focus {
  outline: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.comment-form {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  /*moze zmienię w przyszłości*/
}

.see-more-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: clamp(10px, 5.0vw, 15px);
  color: rgba(0, 0, 0, 0.534);
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  align-self: center;


}

.btn-icon {
  width: clamp(10px, 5.0vw, 15px);
  height: clamp(10px, 5.0vw, 15px);
  color: rgba(0, 0, 0, 0.534);
}


.see-more-btn:hover {
  text-decoration: underline;
}

.reply-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: clamp(10px, 5.0vw, 15px);
  color: rgba(0, 0, 0, 0.534);
}

.comment-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#comment-text {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#feed-end{
  height: 1px;
}

.author-name-link{
  text-decoration: none;
  color: black;
}

.author-name-link:hover{
  text-decoration: underline;
}

.action-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: clamp(10px, 10.0vw, 20px);
  font-weight: bold;
  color: rgb(0, 0, 0);
  position: relative;
}



.menu-options{
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  z-index: 1;

}

.option-btn{
  text-align: left;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  
  cursor: pointer;
  padding: 5px;
  font-size: clamp(10px, 5.0vw, 14px);
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.delete-btn{
  color: rgb(255, 0, 0);
}

.option-btn:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.editable{
  outline: 1px solid rgba(0, 0, 0, 0.932);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5px;
}



.editing-container{
  width: 100%;
  display: none;
  gap: 5px;
  margin-top: 10px;

}

.editing-btn{
  flex: 1;
  border: none;
  cursor: pointer;
  font-size: clamp(10px, 5.0vw, 15px);
  color: rgba(255, 255, 255, 0.534);
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;

}

.save-edit-btn{
  background-color: green;
}

.discard-btn{
  background-color: rgb(95, 0, 0);
}

.account-menu{
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  padding: 5px;
  display: none;
  flex-direction: column;
  gap: 3px;
  z-index: 1;
  background-color: rgb(0, 0, 0);
}

.account-option{
  text-align: left;
  background-color: transparent;
  border: 1px solid rgba(104, 98, 98, 0.836);
 
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
  font-size: clamp(10px, 5.0vw, 14px);
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.account-option:hover{
  background-color: rgba(255, 255, 255, 0.2);
}


.label-area{
  display: flex;
  align-items: center;
  gap: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 217, 136, 0.747);
}

.exit-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: clamp(10px, 5.0vw, 15px);
  color: rgba(255, 0, 0, 0.534);
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  /*outline: 2px solid rgba(255, 0, 0, 0.397);*/
}

.exit-btn:hover{
  transform: scale(1.5);
}

.reply-label{
  font-style: italic;
}

#create-comment-btn{
  background-color: rgba(73, 73, 73, 0.952);
  border: none;
  cursor: pointer;
  font-size: clamp(10px, 5.0vw, 15px);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 5px;
  /*outline: 2px solid rgba(255, 0, 0, 0.397);*/
}

#create-comment-btn:hover{
  transform: scale(1.05);
}

@media screen and (max-width: 684px) {
  main {
    padding: 10px 0;
    gap: 5px;
  
  }

  .post {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  #post-text {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.048);
    border-radius: 0px;
    background-color: rgb(236, 236, 236);

  }

  #post-text:focus {
    border-radius: 0px;
    outline: none;
    box-shadow: none;
  }

  .post-btn-wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .comments {
    padding: 0px;
  }

  .comments.active {
    padding: 0px;

  }

  .posts{
    margin-top: 10px;
  }
  #create-comment-btn{
    align-self: center ;
    width: 90%;
  
  }




}


@media screen and (max-width: 370px) {
  .interaction-wrapper {
    flex-direction: column;
  }

  .post-interactions {
    flex-direction: column;
  }

  .right-buttons {
    flex-direction: column;
  }

  .interaction-wrapper {
    flex-direction: column;
  }

  .reactions {
    flex-direction: column;
  }

  .post-interactions::after {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    height: 100%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .post-content-wrpapper {
    flex-direction: row;
  }

  .post-content{
    flex-grow: 1;
  }

}



@media screen and (max-width: 200px) {
  header {
    padding: 5px;
    flex-direction: row;
  }

  .comment {
    gap: 2px;
    padding: 0px;

  }
  .post-header {
    flex-direction: column;
    justify-items: flex-start;
    gap: 5px;
  }



  main {
    padding: 0;
  }

  .post {
    padding: 5px;
    border-radius: 0;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.2);

  }

  .posts {
    gap: 5px;
  }


}