* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-font: "Permanent Marker";
  --font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "account-header"
    "main"
    "footer";
  grid-template-rows:auto auto 1fr auto;
  grid-template-columns: 1fr;
  background-color: rgb(255, 255, 255);
}

.account-header{
  max-width: 1200px;
  margin: 0 auto;
  grid-area: account-header;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0px;
}

main {
  max-width: 600px;
  margin: 0 auto;
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0px;
  margin-top: 20px;
  
  
}



.profile-information{
  display: flex ;
  flex-direction: column;
  gap: 10px;
  min-height: 200px;
  width: 100%;

  border-radius: 5px;
  padding-bottom: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  position: relative;


}

.profile-background{
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 200px;
  width: 100%;
  padding: 10px;

  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  background-color: rgba(136, 136, 136, 0.959);
}

.author-image-large{
  width: clamp(80px, 15.0vw, 150px);
  height: clamp(80px, 15.0vw, 150px);
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 100%;
  left: 10%;
  transform: translate(-50%, -20%);
  z-index: 1;

}

.profile-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  gap: 8px;
  padding: 10px;
  margin-left:  calc(5% + clamp(80px, 15.0vw, 150px)) ;
}

.profile-data{
  display: flex;
  flex-direction: column;
  gap: 8px;  
}

.follow-btn{

  font-size:  clamp(10px, 2.8vw, 16px);
  color: rgb(255, 255, 255);
  border: none;
  background-color: rgb(136, 0, 0);
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}



.followers{
  font-size:  clamp(10px, 2.8vw, 16px);
  color: rgba(0, 0, 0, 0.534);
  border: none;
  background-color: transparent;


}

@media screen and (max-width: 600px) {
  .author-image-large{
    width: clamp(90px, 15.0vw, 150px);
    height: clamp(90px, 15.0vw, 150px);
    top: 100%;
    left: 50%;
  }

  .profile-header{

    margin-top: calc( clamp(80px, 15.0vw, 150px));
    margin-left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .profile-data{

    align-items: center;
    justify-content: center;
  }
  

}