* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*overflow-wrap: anywhere;*/

}

:root {
  --header-font: "Permanent Marker";
  --font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  background-color: rgb(255, 255, 255);
  /*8, 8, 8*/

}


header {
  grid-area: header;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);


}

.header-btn {
  flex-shrink: 0;
  font-size: clamp(10px, 7.0vw, 20px);
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  width: clamp(10px, 20vw, 45px);
  height: clamp(10px, 20vw, 45px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.75) inset;
}



main {
  grid-area: main;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.author-container {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
}

.author-image {
  width: clamp(10px, 20vw, 40px);
  height: clamp(10px, 20vw, 40px);
  border-radius: 50%;  
  object-fit: cover;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-information {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.post-date{
  font-size: clamp(10px, 3.0vw, 16px);
  color: rgba(0, 0, 0, 0.534);
}

.post-form{
  display: flex;
  flex-direction: column;
  gap: 10px;


}



#post-text{
  resize: none;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  font-size: clamp(10px, 3.0vw, 16px);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  background-color: rgb(236, 236, 236);

}

#post-text:focus{
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  outline: 1px solid rgb(0, 0, 0);

}

#post-btn{
  opacity: 0;
  transform: translateY(10px);
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: clamp(10px, 3.0vw, 16px);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  width: 100%;
  transition: opacity .25s ease, transform .25s ease;
}

.post-btn-wrapper.show #post-btn{
  opacity: 1;
  transform: translateY(0);
}

.post-btn-wrapper.show{
  max-height: 100px;
  transition: transform 0.2s ease;
}

.post-btn-wrapper.show:hover #post-btn{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  transform: scale(1.01);
}

.post-btn-wrapper.show:hover {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  transform: scale(1.02);

}

.post-btn-wrapper{
  max-height: 0;
  transform: translateY(5px);
  border-radius: 5px;
  transition: max-height .25s ease;
}

.add-btn{
  font-size: clamp(10px, 5.0vw, 20px);
  background-color: transparent;
  border-radius: 50%;
  border: none;
  width: clamp(10px, 20vw, 40px);
  height: clamp(10px, 20vw, 40px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn:hover{
  background: radial-gradient( ellipse 65% 65% at 50% 50%, rgba(241, 124, 235, 0.295) 0%, transparent 80%);
  transform: scale(1.3);
}


.post-content {
  padding: 10px 0;
  font-size: clamp(10px, 8.4vw, 18px);
}

.reactions {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;

}



.interaction-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: clamp(10px, 5.4vw, 18px);
}



.reactions-wrapper {
  font-weight: bold;
}


.author-name {
  font-size: clamp(10px, 8.4vw, 26px);
  font-weight: bold;

}

.right-buttons {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}


.post-interactions {

  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 10px;
  font-weight: bold;

}

.post-interactions::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.interactions-btn {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  font-size: clamp(10px, 3.5vw, 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  
}

.interactions-btn:hover{
  transform: scale(1.3);
}

.reaction-btn {
  transition: background 0.2s ease-in-out;
}


.reaction-btn:hover {
  background:
    radial-gradient(ellipse 65% 65% at 50% 50%, rgba(255, 196, 0, 0.726) 0%, transparent 80%);
}

.heart-btn:hover {
  background:
    radial-gradient(ellipse 65% 65% at 50% 50%, rgba(255, 0, 0, 0.726) 0%, transparent 80%);
}

.save-btn:hover {
  background:
    radial-gradient(ellipse 65% 65% at 50% 50%, rgba(255, 0, 106, 0.726) 0%, transparent 80%);
}

.comment-btn:hover {
  background:
    radial-gradient(ellipse 65% 65% at 50% 50%, rgba(145, 145, 145, 0.726) 0%, transparent 80%);
  
}


.post-content-wrpapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


h1 {
  font-size: clamp(10px, 8.4vw, 26px);
}


.logo {

  font-family: var(--header-font);
  color: rgb(255, 255, 255);

}

@media screen and (max-width: 684px) {
  main{
    padding: 10px 0;
    gap: 5px;
  }

  .post{
    box-shadow: none;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  #post-text{
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.048);
    border-radius: 0px;
    background-color: rgb(236, 236, 236);

  }

  #post-text:focus{
    border-radius: 0px;
    outline: none;
    box-shadow: none;
  }

  .post-btn-wrapper{
    width: 90%;
    margin: 0 auto;
  }


}


@media screen and (max-width: 370px) {
  .interaction-wrapper {
    flex-direction: column;
  }



  .post-interactions {
    flex-direction: column;
  }

  .right-buttons {
    flex-direction: column;
  }

  .interaction-wrapper {
    flex-direction: column;
  }

  .reactions {
    flex-direction: column;
  }

  .post-interactions::after {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    height: 100%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .post-content-wrpapper {
    flex-direction: row;
  }

}



@media screen and (max-width: 200px) {
  header {
    padding: 5px;
    flex-direction: row;
  }



  main {
    padding: 0;
  }

  .post {
    padding: 5px;
    border-radius: 0;
    border: none;

  }


}